<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Best Free OCR</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">

<body>   
<div class="page-header">
      
        <div class="row">
           <div class="span12 whitebg">
                       <h1>Free Online OCR</h1>
                      <div class="column">
                        <img src="{{url_for('static', filename='upload.png')}}">
                        <div class="color-shade-1">
                        <h3><strong>Upload File</strong></h3>
                        </div>
                       </div>
                       <div class="column color-shade-2">
                        <img src="{{url_for('static', filename='start.png')}}">
                       <div class="color-shade-2">
                        <h3><strong>Start OCR</strong></h3>
                        </div>
                       </div>
                       <div class="column">
                        <img src="{{url_for('static', filename='result.png')}}">
                       <div class="color-shade-3">
                        <h3><strong>Get  Result</strong></h3>
                        </div>
                       </div>
                       <div class="column">
                        <img src="{{url_for('static', filename='overlay.png')}}">
                       <div class="color-shade-4">
                        <h3><strong>Check Overlay</strong></h3>
                        </div>
                       </div>
              </div>         
        </div>             
</div> 
</body>
</html>
